[user]                                                                      
	email = raphi011@gmail.com
	name = Raphael Gruber

[pull]
	rebase = true

[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
